<div id="<%= dom_id seeker %>">
  <p>
    <strong>Username:</strong>
    <%= seeker.username %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= seeker.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= seeker.longitude %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= seeker.status %>
  </p>

</div>
