<p style="color: green"><%= notice %></p>

<h1>Seekers</h1>

<div id="seekers">
  <% @seekers.each do |seeker| %>
    <%= render seeker %>
    <p>
      <%= link_to "Show this seeker", seeker %>
    </p>
  <% end %>
</div>

<%= link_to "New seeker", new_seeker_path %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
