<p style="color: green"><%= notice %></p>

<%= render @seeker %>

<div>
  <%= link_to "Edit this seeker", edit_seeker_path(@seeker) %> |
  <%= link_to "Back to seekers", seekers_path %>

  <%= button_to "Destroy this seeker", @seeker, method: :delete %>
</div>
