<div class="above">
    <div class="coolish">
        <%= image_tag "trajectory-logo.png", class: "location-face" %>
        <% if user_signed_in? %>
          <div class="main-options">
            <%= link_to "Home", user_registration_url, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %><br>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
          </div>
        <% elsif admin_signed_in? %>
          <div class="main-options">
            <%= link_to "Home", admin_registration_url, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %><br>
            <%= link_to "Log out", destroy_admin_session_path, data: {turbo_method: :delete}, class: "zero" %>
          </div>
        <% else %>
          <div class="main-options">
            <%= link_to "Login", new_user_session_path, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
          </div>
        <% end %>
    </div>
</div>
